* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.5rem;
  background-color: black;
}

.navBar {
  position: fixed;
  overflow: hidden;
  min-height: 5vh;
  background: black;
  padding-bottom: 3.5rem;
  color: white;
  top: 0%;
  width: 100%;
}

.align-list {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: -9rem;
  padding-bottom: 1rem;
  z-index: 2;
}

nav ul a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

nav ul a:hover {
  color: rgb(2, 77, 138);
}

nav h1 {
  text-align: center;
}

/* Style the video: 100% width and height to cover the entire window */

#logo {
  display: flex;
  margin-top: 1.5vh;
  margin-left: auto;
  margin-right: auto;
  width: 3%;
  margin-bottom: 3rem;
}

.intro-text h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 10rem;
  right: 20%;
  opacity: 70%;
  bottom: 50%;
  flex-direction: column;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  z-index: -1;
}
