* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.5rem;
  background-color: black;
}

.navBar {
  position: fixed;
  overflow: hidden;
  z-index: 1;
  background: black;
  opacity: 90%;
  color: white;
  top: 0;
  min-height: 9vh;
  width: 100%;
}

.align-list {
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: -7vh;
  z-index: 2;
}

nav ul a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

nav ul a:hover {
  color: rgb(2, 77, 138);
}

nav h1 {
  text-align: center;
}

/* Style the video: 100% width and height to cover the entire window */

#logo {
  display: flex;
  margin-top: 1.5vh;
  margin-left: auto;
  margin-right: auto;
  width: 78px;
  margin-bottom: 3rem;
}

.intro-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  opacity: 60%;
  right: 10%;
  bottom: 50%;
  margin: auto;
}

.intro-text h1 {
  font-size: 8rem;
  text-align: center;
  font-size-adjust: inherit;
}

.intro-text h2 {
  font-size: 4rem;
  text-align: center;
  opacity: 60%;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  z-index: -1;
}

.icons {
  position: absolute;
  opacity: 70%;
  right: 21%;
  bottom: 40%;
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#linkedin {
  width: 70px;
  transition: width 0.5s ease-in-out;
}

#linkedin:hover {
  width: 100px;
}

#insta {
  width: 70px;
  transition: all 0.5s ease-in-out;
}

#insta:hover {
  width: 100px;
}

#youtube {
  width: 80px;
  transition: width 0.5s ease-in-out;
}

#youtube:hover {
  width: 110px;
  position: relative;
}

/* Mobile Responsiveness */

@media screen and (max-width: 650px) {
  .intro-text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .intro-text h2 {
    font-size: 2rem;
    text-align: center;
    opacity: 60%;
  }
}
